{% extends 'partials/blog_base.html' %}
{% load poll_exteras %}
{% load thumbnail %}


{% for comment in comments %}
    <div class="row mx-1 mt-5" id="comments_area"><!-- start comment box -->
        <div class="col-12 question-box" id="single_comment_box_{{ comment.id }}">
            <div class="question-header">
                <div>
                    {% comment %}<img src="/static/images/user.jpg" class="user-comment-pic">{% endcomment %}
                    <span> {{ comment.user }}</span>
                </div>
                <p class="font-12 text-secondary">{{ comment.create_date | time }}
                    | {{ comment.create_date | show_jalali_date }}</p>
            </div>
            <div class="question-body py-3">
                <p>
                    {{ comment.text }}
                </p>
            </div>
            <div class="question-footer">
                                        <span class="font-12 ms-3"><i
                                                class="far fa-heart text-danger font-114 me-1"></i>(12)</span>
                <span class="font-12 ms-3"><i
                        class="far fa-thumbs-up text-success font-14 me-1"></i>(8)</span>
                <span class="font-12 ms-3"><i
                        class="far fa-thumbs-down text-muted font-14 me-1"></i>(0)</span>
            </div>
        </div>
    </div><!-- end comment box -->
{% endfor %}
