{% extends 'partials/base.html' %}
{% load static %}
{% load thumbnail %}
{% load render_partial %}

{% block content %}
    <main><!-- start main -->
        <div class="container">
            <div class="row">

                <div class="col-lg-3">

                    <div class="profile-card pb-0"><!-- start avatar box -->
                        <img src="/static/images/avatar.jpg" class="profile-avatar img-thumbnail">
                        <p class="font-13 text-center">امیرحسین رضایی</p>
                        <div class="row border-top">
                            <div class="col-6 border-end text-center">
                                <i class="fa fa-lock font-13 text-muted my-2"></i>
                                <a href="change-password.html" class="text-dark d-block font-12 mb-2">تغییر رمز عبور</a>
                            </div>
                            <div class="col-6 text-center">
                                <i class="fas fa-sign-out-alt font-13 text-muted my-2"></i>
                                <a href="#" class="text-dark d-block font-12 mb-2">خروج از حساب</a>
                            </div>
                        </div>
                    </div><!-- end avatar box -->

                    <div class="profile-card"><!-- start sidebar menu -->
                        <ul class="profile-sidebar">
                            <li><a href="profile.html" class="text-info"><i
                                    class="far fa-user-circle align-middle me-2"></i>پروفایل</a></li>
                            <li><a href="profile-order.html"><i class="fas fa-shopping-cart align-middle me-2"></i>همه
                                سفارش ها</a></li>
                            <li><a href="profile-order-return.html"><i class="fa  fa-retweet align-middle me-2"></i>درخواست
                                مرجوعی</a></li>
                            <li><a href="profile-fav-list.html"><i class="far fa-heart align-middle me-2"></i>لیست
                                علاقمندی ها</a></li>
                            <li><a href="profile-comment.html"><i class="far fa-comment align-middle me-2"></i>نظرات</a>
                            </li>
                            <li><a href="profile-address.html"><i class="fas fa-map-marker-alt align-middle me-2"></i>آدرس
                                ها</a></li>
                            <li><a href="profile-info.html"><i class="far fa-address-card align-middle me-2"></i>اطلاعات
                                حساب</a></li>
                        </ul>
                    </div><!-- end sidebar menu -->

                </div>

                <div class="col-lg-9">

                    <div class="profile-card">
                        <div class="row">

                            <div class="col-lg-6"><!-- start personal info box -->
                                <p class="font-13"> اطلاعات شخصی </p>
                                <div class="card font-13 text-center">
                                    <div class="row mx-0 ">
                                        <div class="col-6 pt-2 border-bottom border-end"><p> نام و نام خانوادگی :</p>
                                            <p>امیرحسین رضایی</p></div>
                                        <div class="col-6 pt-2 border-bottom"><p>پست الکترونیک :</p>
                                            <p>test@gmail.com</p></div>
                                        <div class="col-6 pt-2 border-bottom border-end"><p>شماره تلفن همراه :</p>
                                            <p>*******0912</p></div>
                                    </div>
                                </div>
                                {% render_partial 'user_panel.views.user_panel_menu_component' %}
                            </div><!-- end personal info box -->

                            <div class="col-lg-6"><!-- start recent fav list -->
                                <p class="font-13">لیست آخرین علاقه‌مندی‌ها</p>
                                <div class="card">
                                    <div class="profile-recent-fav">
                                        <a href="product.html"><img src="/static/images/mobile1.jpg"
                                                                    class="profile-recent-fav-img"></a>
                                        <div>
                                            <a href="product.html">گوشی موبایل سامسونگ مدل Galaxy A21S SM-A217F/DS</a>
                                            <i class="fa fa-trash font-13"></i>
                                            <i class="fa fa-cart-plus font-13"></i>
                                        </div>
                                    </div>
                                    <div class="profile-recent-fav">
                                        <a href="product.html"><img src="/static/images/mobile2.jpg"
                                                                    class="profile-recent-fav-img"></a>
                                        <div>
                                            <a href="product.html">گوشی موبایل سامسونگ مدل Galaxy A21S SM-A217F/DS</a>
                                            <i class="fa fa-trash font-13"></i>
                                            <i class="fa fa-cart-plus font-13"></i>
                                        </div>
                                    </div>
                                </div>
                                <a href="profile-fav-list.html" class="profile-edit-link"><i
                                        class="fa fa-edit align-middle"></i> ویرایش لیست علاقمندی ها</a>
                            </div><!-- end recent fav list -->

                        </div>
                    </div>

                    <div class="profile-card"><!-- start recent order list -->
                        <p class="font-13">آخرین سفارش‌ها </p>
                        <div class="table-responsive">
                            <table class="text-center table table-custom table-bordered font-13">
                                <thead class="thead-custom">
                                <tr>
                                    <td>#</td>
                                    <td>شماره سفارش</td>
                                    <td>تاریخ ثبت سفارش</td>
                                    <td>مبلغ قابل پرداخت</td>
                                    <td>مبلغ کل</td>
                                    <td>عملیات پرداخت</td>
                                    <td>جزییات</td>
                                </tr>
                                </thead>
                                <tr>
                                    <td>1</td>
                                    <td>DKC-57262900</td>
                                    <td>1 فروردین 1402</td>
                                    <td>0</td>
                                    <td>4,300,000 تومان</td>
                                    <td class="text-success">پرداخت موفق</td>
                                    <td><i class="fa fa-chevron-left align-middle"></i></td>
                                </tr>
                            </table>
                        </div>
                    </div><!-- end recent order list -->

                </div>

            </div>
        </div>
    </main><!-- end main -->

{% endblock %}