{% extends 'partials/blog_base.html' %}
{% load thumbnail %}
{% load poll_exteras %}
{% load render_partial %}
{% block content_blog %}
    <main><!-- start main -->
        <div class="container">

            <div class="row mt-3"><!-- start top banner -->
                <div class="col-12">
                    <a href="#" target="_blank" class="w-100 d-block">
                        <img src="/static/images/blog-ads.jpg" class="blog-pic">
                    </a>
                </div>
            </div><!-- end top banner -->

            <div class="row">

                <div class="col-lg-8"><!-- start blog slider -->
                    <div class="carousel slide" data-bs-ride="carousel" id="blog-slider">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#blog-slider" data-bs-slide-to="0"
                                    class="active"></button>
                            <button type="button" data-bs-target="#blog-slider" data-bs-slide-to="1"></button>
                            <button type="button" data-bs-target="#blog-slider" data-bs-slide-to="2"></button>
                        </div>
                        <div class="carousel-inner mb-3">
                            <div class="carousel-item active">
                                <a href="#" class="d-block">
                                    <img src="/static/images/mag-5.jpg" class="d-block w-100">
                                    <div class="carousel-caption">
                                        <p class="font-13">اپل هدست ویژن پرو را با قیمت ۳۵۰۰ دلار معرفی کرد؛ ورود اپل به
                                            بازار واقعیت ترکیبی</p>
                                    </div>
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="#" class="d-block">
                                    <img src="/static/images/mag-5.jpg" class="d-block w-100">
                                    <div class="carousel-caption">
                                        <p class="font-13">اپل هدست ویژن پرو را با قیمت ۳۵۰۰ دلار معرفی کرد؛ ورود اپل به
                                            بازار واقعیت ترکیبی</p>
                                    </div>
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="#" class="d-block">
                                    <img src="/static/images/mag-5.jpg" class="d-block w-100">
                                    <div class="carousel-caption">
                                        <p class="font-13">اپل هدست ویژن پرو را با قیمت ۳۵۰۰ دلار معرفی کرد؛ ورود اپل به
                                            بازار واقعیت ترکیبی</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <button type="button" class="carousel-control-prev" data-bs-target="#blog-slider"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button type="button" class="carousel-control-next" data-bs-target="#blog-slider"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                </div><!-- end blog slider -->

                <div class="col-lg-4"><!-- start left pic box -->
                    <div class="row">

                        <div class="col-12 mb-3">
                            <a href="#" class="sub-layer">
                                <img src="/static/images/mag-7.jpeg" class="blog-pic">
                                <div class="pic-mask">
                                    <p>۱۰ عادت سالم و کارآمد برای اینکه چربی بیشتری آب کنید</p>
                                </div>
                            </a>
                        </div>

                        <div class="col-12 mb-3">
                            <a href="#" class="sub-layer">
                                <img src="/static/images/mag-8.jpg" class="blog-pic">
                                <div class="pic-mask">
                                    <p>بهترین فیلم‌های فرانسوی تاریخ سینما</p>
                                </div>
                            </a>
                        </div>

                    </div>
                </div><!-- end left pic box -->

            </div>

            <div class="row mt-3"><!-- start title -->
                <div class="col-12 d-flex align-items-center">
                    <h1 class="blog-title-text">جدیدترین مقالات </h1>
                    <div class="blog-title-line"></div>
                    <a href="{% url 'post_blog' %}" class="blog-title-btn">همه مقالات <i
                            class="fa fa-arrow-left align-middle"></i></a>
                </div>
            </div><!-- end title -->

            <div class="row mt-3"><!-- start new blog posts -->

                {% for blog in object_list %}
                    <div class="col-lg-3 col-sm-6 mb-3"><!-- start item -->
                        <div class="card border-0 custom-blog-card">
                            <div class="sub-layer">

                                {% if blog.image %}
                                    {% thumbnail blog.image "610x380" as im %}
                                        <img
                                                src="{{ im.url }}"
                                                width="{{ im.width }}"
                                                class="img-fluid"
                                                height="{{ im.height }}"/>
                                    {% endthumbnail %}
                                {% else %}
                                    <img src="/static/images/mag-1.jpg" class="img-fluid">
                                {% endif %}
                                <div class="over-layer">
                                    <a href="{% url 'post_blog' %}"
                                       class="image-badge">{{ blog.selected_categories }}</a>
                                    <span class="image-like">(4)<i class="far fa-heart ms-1"></i></span>
                                </div>
                            </div>
                            <div class="card-body pb-0">
                                <a href="{% url 'single_blog' pk=blog.id %}">{{ blog.title }}</a>
                                <p>
                                    {{ blog.short_description }}
                                </p>
                            </div>
                            <div class="card-footer bg-white border-top-0">

                                {% if blog.author_image %}
                                    {% thumbnail blog.author_image "180x160" as im %}
                                        <img
                                                src="{{ im.url }}"
                                                width="{{ im.width }}"
                                                class="person-pic"
                                                height="{{ im.height }}"/>
                                    {% endthumbnail %}
                                {% else %}
                                    <img src="/static/images/person.jpg" class="person-pic">
                                {% endif %}
                                {% if blog.author is not None %}
                                    <span class="writer">{{ blog.author }}</span>
                                {% endif %}
                                <div class="float-end mt-2">
                                    <span class="time" style="align-items: center; margin-left: 25px"><i
                                            class="fa fa-clock font-13 me-1"></i>{{ blog.get_jalali_create_time }}</span>
                                    <span class="time"><i
                                            class="fa fa-calendar font-13 me-1"></i>{{ blog.create_date | show_jalali_date }}</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- end item -->

                {% endfor %}
{#                {% if paginated_objects.has_other_pages %}#}
{#                    <div class="container custom-pagination">#}
{#                        <div class="row justify-content-center d-flex mb-3">#}
{#                            <div class="col text-center">#}
{#                                <nav aria-label="Page navigation example">#}
{#                                    <ul class="pagination">#}
{#                                        {% if paginated_objects.has_previous %}#}
{#                                            <li class="page-item">#}
{#                                                <a class="page-link" href="?page={{ paginated_objects.previous_page_number }}"#}
{#                                                   aria-label="Previous">#}
{#                                                    <span aria-hidden="true">&laquo;</span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                        {% endif %}#}
{##}
{#                                        {% for page in paginated_objects.paginator.page_range %}#}
{#                                            {% if paginated_objects.number == page %}#}
{#                                                <li class="page-item active"><a class="page-link"#}
{#                                                                                href="?page={{ page }}">{{ page }}</a>#}
{#                                                </li>#}
{#                                            {% else %}#}
{#                                                <li class="page-item"><a class="page-link"#}
{#                                                                         href="?page={{ page }}">{{ page }}</a></li>#}
{#                                            {% endif %}#}
{##}
{#                                        {% endfor %}#}
{##}
{#                                        {% if paginated_objects.has_next %}#}
{#                                            <li class="page-item">#}
{#                                                <a class="page-link" href="?page={{ paginated_objects.next_page_number }}"#}
{#                                                   aria-label="Next">#}
{#                                                    <span aria-hidden="true">&raquo;</span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                        {% endif %}#}
{##}
{#                                    </ul>#}
{#                                </nav>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div><!-- end pagination -->#}
{#                {% endif %}#}


            </div><!-- end new blog posts -->






        </div>
    </main><!-- end main -->
{% endblock %}

