{% extends 'partials/base.html' %}
{% load thumbnail %}
{% block content %}
    <nav class="d-none d-lg-block navigation"><!-- start main menu -->
        <div class="container">
            <ul class="main-menu">
                <li class="has-mega-menu"><a href="#"> دسته بندی محصولات <i class="fa fa-angle-down"></i></a>
                    <ul class="row mega-menu"><!-- start mega menu-->
                        <li class="col-3 mega-menu-box">
                            <ul>
                                <li class="menu-title"><i class="fa fa-angle-left"></i>کالای دیجیتال</li>
                                <li><a href="search.html">گوشی موبایل</a></li>
                                <li><a href="search.html">لوازم جانبی گوشی</a></li>
                                <li><a href="search.html">لپ تاپ</a></li>
                                <li><a href="search.html">لوازم جانبی لپ تاپ</a></li>
                                <li><a href="search.html">تبلت</a></li>
                                <li><a href="search.html">مچ بند و ساعت هوشمند</a></li>
                                <li><a href="search.html">مودم و تجهیزات شبکه</a></li>
                            </ul>
                        </li>
                        <li class="col-3 mega-menu-box">
                            <ul>
                                <li class="menu-title"><i class="fa fa-angle-left"></i>زیبایی و سلامت</li>
                                <li><a href="search.html">لوازم آرایشی</a></li>
                                <li><a href="search.html">لوازم بهداشتی</a></li>
                                <li><a href="search.html">عطر،ادکلن،اسپری و ست</a></li>
                                <li><a href="search.html">ابزار سلامت و طبی</a></li>
                                <li><a href="search.html">لوازم شخصی برقی</a></li>
                            </ul>
                            <ul>
                                <li class="menu-title"><i class="fa fa-angle-left"></i>مد و پوشاک</li>
                                <li><a href="search.html">لباس زنانه</a></li>
                                <li><a href="search.html">لباس مردانه</a></li>
                            </ul>
                        </li>
                        <li class="col-3 mega-menu-box">
                            <ul>
                                <li class="menu-title"><i class="fa fa-angle-left"></i>خانه و آشپزخانه</li>
                                <li><a href="search.html">صوتی و تصویری</a></li>
                                <li><a href="search.html">لوازم برقی خانگی</a></li>
                                <li><a href="search.html">فرش ماشینی، دستبافت، تابلو</a></li>
                            </ul>
                            <ul>
                                <li class="menu-title"><i class="fa fa-angle-left"></i>اسباب بازی، کودک و نوزاد</li>
                                <li><a href="search.html">پوشاک کودک و نوزاد</a></li>
                                <li><a href="search.html">بازی و سرگرمی کودک</a></li>
                                <li><a href="search.html">سلامت، ایمنی و مراقبت</a></li>
                            </ul>
                        </li>
                        <li class="col-3 mega-menu-box">
                            <ul>
                                <li class="menu-title"><i class="fa fa-angle-left"></i>کتاب و لوازم تحریر</li>
                                <li><a href="search.html">کتاب و مجله</a></li>
                                <li><a href="search.html">کتاب صوتی</a></li>
                                <li><a href="search.html">لوازم تحریر</a></li>
                            </ul>
                            <a href="#" class="d-block"><img src="/static/images/menu-pic.jpg"
                                                             class="img-fluid rounded mt-3"></a>
                        </li>
                    </ul><!-- end mega menu-->
                </li>
                <li><a href="search.html">تخفیف‌ها و پیشنهادها</a></li>
                <li class="has-sub-menu"><a href="#">صفحات <i class="fa fa-angle-down"></i></a>
                    <ul class="sub-menu"><!-- start sub menu-->
                        <li><a href="signup.html">ثبت نام / ورود</a></li>
                        <li class="has-sub-menu-level-2"><a href="#">محصولات</a><i class="fa fa-angle-down"></i>
                            <ul class="sub-menu-level-2"><!-- start sub menu level 2 -->
                                <li><a href="product.html">محصول موجود</a></li>
                                <li><a href="product-unavailable.html">محصول ناموجود</a></li>
                                <li><a href="404.html">خطای 404</a></li>
                            </ul><!-- end sub menu level 2 -->
                        </li>
                        <li><a href="profile.html">پروفایل کاربر</a></li>
                        <li><a href="blog.html">وبلاگ</a></li>
                        <li><a href="cart.html">سبد خرید</a></li>
                    </ul><!-- end sub menu-->
                </li>
                <li><a href="contact-us.html">تماس با ما</a></li>
                <li><a href="about-us.html">درباره ما</a></li>
            </ul>
        </div>
    </nav><!-- end main menu -->

    <div class="container"><!-- start breadcrumb -->
        <div class="row mt-3">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-custom">فروشگاه اینترنتی نیک کالا</a></li>
                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-custom">کالای دیجیتال</a></li>
                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-custom">گوشی موبایل</a></li>
                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-custom">سامسونگ</a></li>
                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-custom">Galaxy Note 10 Plus N975F/DS</a>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- end breadcrumb -->

    <main><!-- start main -->
        <div class="container">

            <div class="product-content"><!-- start product content -->
                <div class="row">
                    <div class="col-lg-4 col-12">
                        <div class="row">
                            <div class="col-1 text-center product-icons"><!-- start product icons -->
                                <i class="far fa-heart heart d-block my-4" data-bs-toggle="tooltip"
                                   data-bs-placement="top" title="افزودن به علاقمندی ها"></i>
                                <span data-bs-toggle="modal" data-bs-target="#share-modal"><i
                                        class="fa fa-share-alt share d-block my-4" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="اشتراک گذاری"></i></span>
                                <div class="modal fade" id="share-modal"><!-- start share modal -->
                                    <div class="modal-dialog  modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <p class="modal-title font-13">اشتراک گذاری</p>
                                                <button type="button" class="btn-close"
                                                        data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p class="font-12">این کالا را با دوستان خود به اشتراک بگذارید!</p>
                                                <a href="#" class="btn btn-share"><i class="fa fa-copy me-2"></i>کپی
                                                    کردن لینک</a>
                                                <div class="d-flex justify-content-center mt-4">
                                                    <a href="#"><i
                                                            class="fab fa-instagram text-danger social-media"></i></a>
                                                    <a href="#"><i
                                                            class="fab fa-telegram text-info social-media"></i></a>
                                                    <a href="#"><i
                                                            class="fab fa-whatsapp text-success social-media"></i></a>
                                                    <a href="#"><i class="fab fa-twitter text-primary social-media"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end share modal -->
                                <i class="fas fa-random random d-block my-4" data-bs-toggle="tooltip"
                                   data-bs-placement="top" title="مقایسه کالا"></i>
                            </div><!-- end product icons -->

                            <div class="col-11 pb-5 mb-3"><!-- start product slider pic -->
                                <div class="carousel slide pb-5 product-slider-2" id="product-slider"
                                     data-bs-ride="carousel">
                                    <div class="carousel-indicators carousel-indicator-custom">
                                        <button type="button" data-bs-target="#product-slider" data-bs-slide-to="0"
                                                class="active">
                                            {% thumbnail product_detail.image "50x50" as im %}
                                                <img
                                                        src="{{ im.url }}"
                                                        width="{{ im.width }}"
                                                        class="d-block w-100"
                                                        height="{{ im.height }}"/>
                                            {% endthumbnail %}
                                        </button>
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            {% thumbnail product_detail.image "300x300" as im %}
                                                <img
                                                        src="{{ im.url }}"
                                                        width="{{ im.width }}"
                                                        class="d-block w-100"
                                                        height="{{ im.height }}"/>
                                            {% endthumbnail %}
                                        </div>

                                    </div>
                                </div>
                            </div><!-- end product slider pic -->
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-8 product-details"><!-- start product details -->
                        <p>{{ product_detail.title }}</p>
                        <p class="d-inline-block">دسته بندی : {{ product_detail.category.first }}</p>
                        <p class="d-inline-block ms-5">برند : {{ product_detail.brand.title }}</p>
                        <p>انتخاب رنگ :</p>

                        <label class="select-color">
                            <span class="color-shape" style="background-color: rgb(3, 3, 3);"></span>
                            <input type="radio" name="color">
                            <span class="color-name">مشکی</span>
                        </label>

                        <label class="select-color">
                            <span class="color-shape" style="background-color: rgb(252, 13, 13);"></span>
                            <input type="radio" name="color">
                            <span class="color-name">قرمز</span>
                        </label>

                        <label class="select-color">
                            <span class="color-shape" style="background-color: rgb(57, 90, 197);"></span>
                            <input type="radio" name="color">
                            <span class="color-name">آبی</span>
                        </label>

                        <p class="mt-4">ویژگی های محصول :</p>
                        <ul class="font-13 ps-1">
                            <li class="mt-3"><i class="fa fa-check align-middle text-primary me-2"></i> سیستم عامل :
                                Android
                            </li>
                            <li class="mt-3"><i class="fa fa-check align-middle text-primary me-2"></i>حافظه داخلی : 256
                                گیگابایت
                            </li>
                            <li class="mt-3"><i class="fa fa-check align-middle text-primary me-2"></i> شبکه های ارتباطی
                                : 4G، 3G، 2G
                            </li>
                            <li class="mt-3"><i class="fa fa-check align-middle text-primary me-2"></i>دوربین‌های پشت
                                گوشی : 3 ماژول دوربین
                            </li>
                        </ul>

                        <div class="alert alert-warning font-12 line-height text-justify mt-4">
                            هشدار سامانه همتا: حتما در زمان تحویل دستگاه، به کمک کد فعال‌سازی چاپ شده روی جعبه یا کارت
                            گارانتی، دستگاه را
                            از طریق #7777*، برای سیم‌کارت خود فعال‌سازی کنید. آموزش تصویری در آدرس اینترنتی hmti.ir/05
                        </div>

                    </div><!-- end product details -->
                    <div class="col-lg-3 col-md-4"><!-- start add to cart box -->
                        <div class="add-cart-box">
                            <div class="product-seller-row">
                                <span>فروشنده :</span>
                                <span>نیک کالا</span>
                            </div>
                            <div class="product-seller-row">
                                <span>گارانتی:</span>
                                <span>18 ماهه سامسونگ</span>
                            </div>
                            <div class="product-seller-row">
                                <span>وضعیت :</span>
                                <span>موجود در انبار</span>
                            </div>
                            <div class="product-seller-row">
                                <span>قیمت :</span>
                                <span class="text-danger">{{ product_detail.price }} تومان</span>
                            </div>
                            <button type="button" class="btn add-cart-btn">افزودن به سبد خرید</button>
                        </div>
                    </div><!-- end add to cart box -->
                </div>
            </div><!-- end product content -->

            <div class="d-none d-lg-block product-delivery-icons"><!-- start product delivery icons -->
                <div class="row">
                    <div class="col-6 col-sm text-center"><i class="fa fa-shipping-fast"></i>
                        <p>تحویل اکسپرس</p></div>
                    <div class="col-6 col-sm text-center"><i class="fa fa-headset"></i>
                        <p> پشتیبانی 24 ساعته </p></div>
                    <div class="col-6 col-sm text-center"><i class="fa fa-credit-card"></i>
                        <p>پرداخت در محل</p></div>
                    <div class="col-6 col-sm text-center"><i class="fa fa-box"></i>
                        <p>7 روز ضمانت بازگشت کالا</p></div>
                    <div class="col-12 col-sm text-center"><i class="fa fa-medal"></i>
                        <p>ضمانت اصالت کالا</p></div>
                </div>
            </div><!-- end product delivery icons -->

            <div class="row"><!-- start ads -->
                <div class="col-12 mb-3">
                    <a href="#" class="d-block" target="_blank"><img src="/static/images/ads7.jpg" class="ads-img"></a>
                </div>
            </div><!-- end ads -->

            <div class="product-tab-content"><!-- start product tab content -->
                <div class="row pb-3">
                    <div class="col-12">

                        <ul class="nav nav-pills custom-nav-pills"><!-- start  tabs -->
                            <li class="nav-item"><a href="#description" data-bs-toggle="tab" class="nav-link active">نقد
                                و بررسی</a></li>
                            <li class="nav-item"><a href="#detail" data-bs-toggle="tab" class="nav-link">مشخصات</a></li>
                            <li class="nav-item"><a href="#comment" data-bs-toggle="tab" class="nav-link">نظرات
                                کاربران</a></li>
                            <li class="nav-item"><a href="#question" data-bs-toggle="tab" class="nav-link">پرسش و
                                پاسخ </a></li>
                        </ul><!-- end  tabs -->

                        <div class="tab-content">

                            <div class="tab-pane fade show active" id="description"><!-- start description -->
                                <p class="m-3 font-14">نقد و بررسی اجمالی</p>
                                <p class="m-3 font-13">{{ product_detail.title }}</p>
                                <p class="font-14 line-height mx-3 text-justify">{{ product_detail.short_description }}</p>
                                {% thumbnail product_detail.image "1400x1050" as im %}
                                                <img
                                                        src="{{ im.url }}"
                                                        width="{{ im.width }}"
                                                        class="mobile-banner"
                                                        height="{{ im.height }}"/>
                                            {% endthumbnail %}
                                <p class="font-14 line-height mx-3 text-justify">{{ product_detail.long_description }}</p>
                            </div><!-- end description -->

                            <div class="tab-pane fade show" id="detail"><!-- start detail -->
                                <p class="mt-3 mx-3 font-14"><i
                                        class="fa fa-chevron-left align-middle text-danger font-12 me-1"></i> مشخصات فنی
                                </p>

                                <div class="row mx-3">
                                    <div class="col-sm-4 mb-2">
                                        <div class="box-line">ابعاد</div>
                                    </div>
                                    <div class="col-sm-8 mb-2">
                                        <div class="box-line"> 159.8x74.5x8.4 میلی‌متر</div>
                                    </div>
                                </div>

                                <div class="row mx-3">
                                    <div class="col-sm-4 mb-2">
                                        <div class="box-line">توضیحات سیم کارت</div>
                                    </div>
                                    <div class="col-sm-8 mb-2">
                                        <div class="box-line"> سایز نانو (8.8 × 12.3 میلی‌متر)</div>
                                    </div>
                                </div>

                                <div class="row mx-3">
                                    <div class="col-sm-4 mb-2">
                                        <div class="box-line">وزن</div>
                                    </div>
                                    <div class="col-sm-8 mb-2">
                                        <div class="box-line"> 190 گرم</div>
                                    </div>
                                </div>

                                <div class="row mx-3">
                                    <div class="col-sm-4 mb-2">
                                        <div class="box-line">ساختار بدنه</div>
                                    </div>
                                    <div class="col-sm-8 mb-2">
                                        <div class="box-line"> بدنه‌ای از جنس پلاستیک و شیشه ( قاب جلو شیشه و پشت
                                            پلاستیک+ فریم آلومینیومی)
                                        </div>
                                    </div>
                                </div>

                                <p class="mt-3 mx-3 font-13"><i
                                        class="fa fa-chevron-left align-middle text-danger font-12 me-1"></i>پردازنده
                                </p>

                                <div class="row mx-3">
                                    <div class="col-sm-4 mb-2">
                                        <div class="box-line">تراشه</div>
                                    </div>
                                    <div class="col-sm-8 mb-2">
                                        <div class="box-line"> Exynos 990 (7 nm+) Chipset</div>
                                    </div>
                                </div>

                                <div class="row mx-3">
                                    <div class="col-sm-4 mb-2">
                                        <div class="box-line"> پردازنده‌ی مرکزی</div>
                                    </div>
                                    <div class="col-sm-8 mb-2">
                                        <div class="box-line">Dual-core Mongoose M5 + Dual-core Cortex-A76 + Quad-core
                                            Cortex-A55 CPU
                                        </div>
                                    </div>
                                </div>

                                <div class="row mx-3">
                                    <div class="col-sm-4 mb-2">
                                        <div class="box-line">نوع پردازنده</div>
                                    </div>
                                    <div class="col-sm-8 mb-2">
                                        <div class="box-line">64 بیت</div>
                                    </div>
                                </div>

                            </div><!-- end detail -->

                            <div class="tab-pane fade show" id="comment"><!-- start comment -->
                                <p class="m-3 font-14">امتیاز کاربران</p>
                                <div class="row mx-3">

                                    <div class="col-md-6 rating-result"><!-- start ratig result-->

                                        <div class="d-flex justify-content-between mb-2">
                                            <span class="font-12">کیفیت ساخت:</span>
                                            <span class="font-12">خوب</span>
                                        </div>
                                        <div class="progress mb-3">
                                            <div class="progress-bar bg-info" style="width:60%;"></div>
                                        </div>

                                        <div class="d-flex justify-content-between mb-2">
                                            <span class="font-12">ارزش خرید به نسبت قیمت:</span>
                                            <span class="font-12">عالی</span>
                                        </div>
                                        <div class="progress mb-3">
                                            <div class="progress-bar bg-info" style="width:80%;"></div>
                                        </div>

                                        <div class="d-flex justify-content-between mb-2">
                                            <span class="font-12">امکانات و قابلیت ها:</span>
                                            <span class="font-12">خوب</span>
                                        </div>
                                        <div class="progress mb-3">
                                            <div class="progress-bar bg-info" style="width:50%;"></div>
                                        </div>

                                        <div class="d-flex justify-content-between mb-2">
                                            <span class="font-12">نوآوری :</span>
                                            <span class="font-12">خوب</span>
                                        </div>
                                        <div class="progress mb-3">
                                            <div class="progress-bar bg-info" style="width:75%;"></div>
                                        </div>

                                        <div class="d-flex justify-content-between mb-2">
                                            <span class="font-12">طراحی و ظاهر :</span>
                                            <span class="font-12">عالی</span>
                                        </div>
                                        <div class="progress mb-3">
                                            <div class="progress-bar bg-info" style="width:90%;"></div>
                                        </div>

                                        <div class="d-flex justify-content-between mb-2">
                                            <span class="font-12">سهولت استفاده :</span>
                                            <span class="font-12">خوب</span>
                                        </div>
                                        <div class="progress mb-3">
                                            <div class="progress-bar bg-info" style="width:80%;"></div>
                                        </div>

                                    </div><!-- end ratig result-->

                                    <div class="col-md-6 add-comment"><!-- start add comment box -->
                                        <p>شما هم درباره این کالا دیدگاه ثبت کنید</p>
                                        <p>برای ثبت نظر، لازم است ابتدا وارد حساب کاربری خود شوید.
                                            اگر این محصول را قبلا از نیک کالا خریده باشید، نظر شما به عنوان مالک محصول
                                            ثبت خواهد شد.
                                        </p>
                                        <a href="send-comment.html"
                                           class="btn btn-secondary font-13 px-4 py-2 mt-3 ms-3">افزودن نظر جدید</a>
                                    </div><!-- ens add comment box -->

                                </div>

                                <div class="row mx-3">
                                    <div class="col-12">
                                        <p class="font-13 my-4">نظرات کاربران (437)</p>

                                        <div class="row border-bottom mb-4"><!-- start user comment box -->
                                            <div class="col-lg-3 col-md-4 col-12"><!-- start comment info -->
                                                <div class="comment-info">
                                                    <p class="font-13 my-2">محمدرضا بهرامی</p>
                                                    <p class="font-12 text-muted my-3">24 فروردین 1402 </p>
                                                    <div class="star-box">
                                                        <i class="fa fa-star font-12 ms-1 text-warning"></i>
                                                        <i class="fa fa-star font-12 ms-1 text-warning"></i>
                                                        <i class="fa fa-star font-12 ms-1 text-warning"></i>
                                                        <i class="fa fa-star font-12 ms-1 text-warning"></i>
                                                        <i class="fa fa-star font-12 ms-1 text-muted"></i>
                                                    </div>
                                                    <p class="font-12 text-muted border border-info rounded d-inline-block p-2">
                                                        <i class="fa fa-thumbs-up font-13 text-info"></i> خرید این محصول
                                                        را توصیه می‌کنم</p>
                                                </div>
                                            </div><!-- end comment info -->
                                            <div class="col-lg-9 col-md-8 col-12"><!-- start comment text -->
                                                <p class="font-14">عالی و صدرصد بهتر از اپل</p>
                                                <p class="font-13 line-height">کیفیت صفحه فوق العاده و شارژدهی عالی .
                                                    بدنه اش اول که به دستم رسید
                                                    یه مشکی براق خوشگل بود. اما متاسفانه اثر انگشت زیاد روش میوفته و
                                                    زودم خش میوفته جنسش میتونست بهتر باشه.من خیلی گرون خریدم قیمت الانش
                                                    عالیه. تحقیقتون رو قبل خرید بکنید .
                                                </p>
                                                <div class="row">
                                                    <div class="col-md-4 col-6 ">
                                                        <span class="font-13 text-info"> نقاط قوت </span>
                                                        <ul class="ps-2 pt-0 positve-point">
                                                            <li class="font-13  my-2">سبک</li>
                                                            <li class="font-13  my-2"> صفحه نمایش عالی</li>
                                                            <li class="font-13  my-2">سرعت پردازش بالا</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4 col-6">
                                                        <span class="font-13 text-danger"> نقاط ضعف </span>
                                                        <ul class="ps-2 pt-0 negative-point">
                                                            <li class="font-13 my-2">قیمت زیاد</li>
                                                            <li class="font-13  my-2"> باتری ضعیف</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-12 mb-3 text-end">
                                                        <span class="font-13 text-muted d-block mb-3">آیا این نظر برایتان مفید بود؟</span>
                                                        <a href="#" class="font-13 text-muted ms-2 border p-1 rounded">بله
                                                            (12) <i class="fa fa-thumbs-up text-info"></i></a>
                                                        <span class="text-muted">|</span>
                                                        <a href="#" class="font-13 text-muted border p-1 rounded">خیر
                                                            (4) <i class="fa fa-thumbs-down text-danger"></i></a>
                                                    </div>
                                                </div>
                                            </div><!-- end comment text -->
                                        </div><!-- end user comment box -->

                                        <div class="row border-bottom mb-4"><!-- start user comment box -->
                                            <div class="col-lg-3 col-md-4 col-12"><!-- start comment info -->
                                                <div class="comment-info">
                                                    <p class="font-13 my-2">محمدرضا بهرامی</p>
                                                    <p class="font-12 text-muted my-3">24 فروردین 1402 </p>
                                                    <div class="star-box">
                                                        <i class="fa fa-star font-12 ms-1 text-warning"></i>
                                                        <i class="fa fa-star font-12 ms-1 text-warning"></i>
                                                        <i class="fa fa-star font-12 ms-1 text-warning"></i>
                                                        <i class="fa fa-star font-12 ms-1 text-warning"></i>
                                                        <i class="fa fa-star font-12 ms-1 text-muted"></i>
                                                    </div>
                                                    <p class="font-12 text-muted border border-danger rounded d-inline-block p-2">
                                                        <i class="fa fa-thumbs-down font-13 text-danger"></i> خرید این
                                                        محصول را توصیه نمی‌کنم</p>
                                                </div>
                                            </div><!-- end comment info -->
                                            <div class="col-lg-9 col-md-8 col-12"><!-- start comment text -->
                                                <p class="font-14">عالی و صدرصد بهتر از اپل</p>
                                                <p class="font-13 line-height">کیفیت صفحه فوق العاده و شارژدهی عالی .
                                                    بدنه اش اول که به دستم رسید
                                                    یه مشکی براق خوشگل بود. اما متاسفانه اثر انگشت زیاد روش میوفته و
                                                    زودم خش میوفته جنسش میتونست بهتر باشه.من خیلی گرون خریدم قیمت الانش
                                                    عالیه. تحقیقتون رو قبل خرید بکنید .
                                                </p>
                                                <div class="row">
                                                    <div class="col-md-4 col-6 ">
                                                        <span class="font-13 text-info"> نقاط قوت </span>
                                                        <ul class="ps-2 pt-0 positve-point">
                                                            <li class="font-13  my-2">سبک</li>
                                                            <li class="font-13  my-2"> صفحه نمایش عالی</li>
                                                            <li class="font-13  my-2">سرعت پردازش بالا</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4 col-6">
                                                        <span class="font-13 text-danger"> نقاط ضعف </span>
                                                        <ul class="ps-2 pt-0 negative-point">
                                                            <li class="font-13 my-2">قیمت زیاد</li>
                                                            <li class="font-13  my-2"> باتری ضعیف</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-12 mb-3 text-end">
                                                        <span class="font-13 text-muted d-block mb-3">آیا این نظر برایتان مفید بود؟</span>
                                                        <a href="#" class="font-13 text-muted ms-2 border p-1 rounded">بله
                                                            (12) <i class="fa fa-thumbs-up text-info"></i></a>
                                                        <span class="text-muted">|</span>
                                                        <a href="#" class="font-13 text-muted border p-1 rounded">خیر
                                                            (4) <i class="fa fa-thumbs-down text-danger"></i></a>
                                                    </div>
                                                </div>
                                            </div><!-- end comment text -->
                                        </div><!-- end user comment box -->

                                    </div>
                                </div>

                                <ul class="custom-pagination"><!-- start pagination -->
                                    <li><a href="#"><i class="fa fa-angle-right align-middle"></i></a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#"><i class="fa fa-angle-left align-middle"></i></a></li>
                                </ul><!-- end pagination -->

                            </div><!-- end comment -->

                            <div class="tab-pane fade show" id="question"><!-- start question -->
                                <p class="m-3 font-14">پرسش و پاسخ</p>
                                <p class="m-3 font-13">پرسش خود را در مورد محصول مطرح نمایید</p>

                                <form><!-- start question form -->
                                    <div class="px-3 mb-3">
                                        <textarea class="form-control" rows="5"></textarea>
                                    </div>
                                    <a href="#" class="btn btn-secondary font-13 px-3 py-2 mx-3 mb-3">ثبت پرسش</a>
                                    <div class="form-check d-inline-block">
                                        <input class="form-check-input" type="checkbox" id="check1">
                                        <label class="form-check-label font-12 text-secondary" for="check1">اولین پاسخی
                                            که به پرسش من داده شد، از طریق ایمیل به من اطلاع دهید. </label>
                                    </div>
                                </form><!-- end question form -->

                                <div class="row mx-3 mt-5"><!-- start question box -->
                                    <div class="col-12 question-box">
                                        <div class="question-icon"><i class="fa fa-question"></i></div>
                                        <div class="question-header">
                                            <p>پرسش : <span class="font-13 text-secondary">امیرحسین</span></p>
                                            <p class="font-12 text-secondary">14 اردیبهشت 1402</p>
                                        </div>
                                        <div class="question-body py-3">
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                                                با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                                                روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                                                تکنولوژی
                                                مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                                            </p>
                                        </div>
                                        <div class="question-footer">
                                            <a href="#" class="font-12 text-info underline">به این پرسش پاسخ دهید</a>
                                        </div>
                                    </div>
                                </div><!-- end question box -->

                                <div class="row mx-3 mt-4 d-flex justify-content-end"><!-- start answer box -->
                                    <div class="col-11 question-box">
                                        <div class="question-icon"><i class="fa fa-store"></i></div>
                                        <div class="question-header">
                                            <p>پاسخ : <span class="font-13 text-secondary">فروشنده</span></p>
                                            <p class="font-12 text-secondary">14 اردیبهشت 1402</p>
                                        </div>
                                        <div class="question-body py-3">
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                                                با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                                                روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                                                تکنولوژی
                                                مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                                            </p>
                                        </div>
                                    </div>
                                </div><!-- end answer box -->

                            </div><!-- end question -->

                        </div>
                    </div>
                </div>
            </div><!-- end product tab content -->

            <div class="product-slider"><!-- start product slider -->
                <div class="row">
                    <div class="col-12">
                        <div class="title">
                            <h4> محصولات پیشنهادی </h4>
                        </div>
                        <div class="owl-carousel owl-theme  custom-product-slider">

                            <div class="item"><!-- start item -->
                                <a href="product.html">
                                    <div class="card border-0 custom-card mt-3">
                                        <img src="/static/images/mobile1.jpg" class="slider-pic">
                                        <div class="card-body">
                                            <a href="product.html" class="product-title">گوشی موبایل سامسونگ مدل Galaxy
                                                A21S SM-A217F/DS</a>
                                            <div class="d-flex justify-content-between">
                                                <div class="mt-3 ps-4">
                                                    <span class="heart"><i
                                                            class="far fa-heart font-14 text-muted me-2"></i></span>
                                                    <span class="random"><i
                                                            class="fa fa-random font-14 text-muted me-2"></i></span>
                                                    <span class="add-to-cart"><i
                                                            class="fa fa-cart-plus font-13 text-muted"></i></span>
                                                </div>
                                                <p class="font-13 mt-3 pe-4">۴,۱۶۹,۰۰۰تومان</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div><!-- end item -->
                            <div class="item"><!-- start item -->
                                <a href="product.html">
                                    <div class="card border-0 custom-card mt-3">
                                        <img src="/static/images/mobile2.jpg" class="slider-pic">
                                        <div class="card-body">
                                            <a href="product.html" class="product-title">گوشی موبایل سامسونگ مدل Galaxy
                                                A21S SM-A217F/DS</a>
                                            <div class="d-flex justify-content-between">
                                                <div class="mt-3 ps-4">
                                                    <span class="heart"><i
                                                            class="far fa-heart font-14 text-muted me-2"></i></span>
                                                    <span class="random"><i
                                                            class="fa fa-random font-14 text-muted me-2"></i></span>
                                                    <span class="add-to-cart"><i
                                                            class="fa fa-cart-plus font-13 text-muted"></i></span>
                                                </div>
                                                <p class="font-13 mt-3 pe-4">۴,۱۶۹,۰۰۰تومان</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div><!-- end item -->

                            <div class="item"><!-- start item -->
                                <a href="product.html">
                                    <div class="card border-0 custom-card mt-3">
                                        <img src="/static/images/mobile3.jpg" class="slider-pic">
                                        <div class="card-body">
                                            <a href="product.html" class="product-title">گوشی موبایل سامسونگ مدل Galaxy
                                                A21S SM-A217F/DS</a>
                                            <div class="d-flex justify-content-between">
                                                <div class="mt-3 ps-4">
                                                    <span class="heart"><i
                                                            class="far fa-heart font-14 text-muted me-2"></i></span>
                                                    <span class="random"><i
                                                            class="fa fa-random font-14 text-muted me-2"></i></span>
                                                    <span class="add-to-cart"><i
                                                            class="fa fa-cart-plus font-13 text-muted"></i></span>
                                                </div>
                                                <p class="font-13 mt-3 pe-4">۴,۱۶۹,۰۰۰تومان</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div><!-- end item -->

                            <div class="item"><!-- start item -->
                                <a href="product.html">
                                    <div class="card border-0 custom-card mt-3">
                                        <img src="/static/images/mobile4.jpg" class="slider-pic">
                                        <div class="card-body">
                                            <a href="product.html" class="product-title">گوشی موبایل سامسونگ مدل Galaxy
                                                A21S SM-A217F/DS</a>
                                            <div class="d-flex justify-content-between">
                                                <div class="mt-3 ps-4">
                                                    <span class="heart"><i
                                                            class="far fa-heart font-14 text-muted me-2"></i></span>
                                                    <span class="random"><i
                                                            class="fa fa-random font-14 text-muted me-2"></i></span>
                                                    <span class="add-to-cart"><i
                                                            class="fa fa-cart-plus font-13 text-muted"></i></span>
                                                </div>
                                                <p class="font-13 mt-3 pe-4">۴,۱۶۹,۰۰۰تومان</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div><!-- end item -->

                            <div class="item"><!-- start item -->
                                <a href="product.html">
                                    <div class="card border-0 custom-card mt-3">
                                        <img src="/static/images/mobile2.jpg" class="slider-pic">
                                        <div class="card-body">
                                            <a href="product.html" class="product-title">گوشی موبایل سامسونگ مدل Galaxy
                                                A21S SM-A217F/DS</a>
                                            <div class="d-flex justify-content-between">
                                                <div class="mt-3 ps-4">
                                                    <span class="heart"><i
                                                            class="far fa-heart font-14 text-muted me-2"></i></span>
                                                    <span class="random"><i
                                                            class="fa fa-random font-14 text-muted me-2"></i></span>
                                                    <span class="add-to-cart"><i
                                                            class="fa fa-cart-plus font-13 text-muted"></i></span>
                                                </div>
                                                <p class="font-13 mt-3 pe-4">۴,۱۶۹,۰۰۰تومان</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div><!-- end item -->

                        </div>
                    </div>
                </div>
            </div><!-- end product slider -->

        </div>
    </main><!-- end main -->
{% endblock %}