<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.rtl.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>قالب فروشگاهی نیک کالا | بازیابی رمز عبور </title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-10 col-md-7 col-lg-5 signup-login-box"><!-- start signup & login box -->
            <img src="/static/images/logo.png">
            <form method="post" action="{% url 'userauths:forget-pass' %}">
                {% csrf_token %}
                {% comment %}mobile-number{% endcomment %}
                <div class="input-group signup-login-form orm-control form-control-lg signup-login-input mobile-number">
                    <!-- start mobile number input -->
                    {% comment %}<input type="tel" class="form-control form-control-lg signup-login-input" placeholder="شماره موبایل ">{% endcomment %}
                    {% comment %}{{ forget_password_form.email_password.label_tag }}{% endcomment %}
                    {{ forget_password_form.email_password }}
                    {{ forget_password_form.email_password.errors }}
                </div><!-- end mobile number input -->

                <button type="submit" class="btn btn-danger d-block font-12 mx-auto mb-4 remember-btn">
                    <!-- remember btn -->
                    بازیابی
                </button>

                <p>کاربر جدید هستید؟ <a href="signup.html" class="underline">ثبت‌ نام در نیک کالا </a></p>

            </form>
        </div><!-- end signup & login box -->
    </div>
</div>


<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>