<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.rtl.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>قالب فروشگاهی نیک کالا | ثبت نام </title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-10 col-md-7 col-lg-5 signup-login-box"><!-- start signup & login box -->
            <img src="/static/images/logo.png">
            <form action="{% url 'userauths:sign-up' %}" method="post">
                {% csrf_token %}


                <div class="input-group signup-login-form mobile-number form-control form-control-lg signup-login-input">
                    <!-- start mobile number input -->
                    {{ form.username }}
                </div><!-- end mobile number input -->

                <div class="input-group signup-login-form mobile-number form-control form-control-lg signup-login-input">
                    <!-- start mobile number input -->
                    {{ form.email }}
                </div><!-- end mobile number input -->

                <div class="input-group signup-login-form password form-control form-control-lg signup-login-input">
                    <!-- start password input -->
                    {{ form.password1 }}
                </div><!-- end password input -->

                <div class="input-group signup-login-form password form-control form-control-lg signup-login-input">
                    <!-- start password input -->
                    {{ form.password2 }}
                </div><!-- end password input -->

                {% if form.errors %}
                    لطفا خطا های زیر را اصلاح کنید
                    <br>
                    {% for field in form %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                {{ field.label }} : {{ error }}
                            {% endfor %}

                        {% endif %}
                    {% endfor %}

                {% endif %}
                {% if form.non_field_errors %}
                    {{ form.non_field_errors }}
                {% endif %}

                <div class="signup-login-form">
                    <div class="form-check text-center"><!-- start input check -->
                        <input name="remember_me" class="form-check-input form-check-input-custom" type="checkbox"
                               id="customCheck" checked>
                        <label class="form-check-label line-height" for="customCheck">
                            <a href="#" class="underline">حریم خصوصی</a> و <a href="#" class="underline">شرایط و
                            قوانین</a> استفاده از سرویس های سایت نیک کالا را مطالعه نموده و با کلیه موارد آن موافقم.
                        </label>
                    </div><!-- end input check -->
                </div>

                <button type="submit" class="btn btn-danger d-block font-12 mx-auto signup-btn mb-4"><!-- signup btn -->
                    ثبت نام
                </button>

                <p>قبلا در نیک کالا ثبت‌ نام کرده‌اید؟ <a href="login.html" class="underline">وارد شویــد</a></p>

            </form>
        </div><!-- end signup & login box -->
    </div>
</div>


<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>