{% load static %}
{% load render_partial %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.rtl.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>قالب فروشگاهی نیک کالا | صفحه اصلی</title>
</head>
<body>

<div class="d-none d-lg-block top-ads"><!-- start top ads -->
    <a href="#" target="_blank"><img src="/static/images/top-ads.jpg"></a>
</div><!-- end top ads -->

{% render_partial 'core.views.site_header_component' %}
<section class="main-slider"><!-- start main slider -->
    <div id="main-slider" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#main-slider" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#main-slider" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#main-slider" data-bs-slide-to="2"></button>
            <button type="button" data-bs-target="#main-slider" data-bs-slide-to="3"></button>
        </div>
        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="#" target="_blank" class="d-block w-100"><img src="{% static 'images/main-slider-1.png' %}"
                                                                       class="d-block w-100"></a>
            </div>
            <div class="carousel-item">
                <a href="#" target="_blank" class="d-block w-100"><img src="{% static 'images/main-slider-2.png' %}"
                                                                       class="d-block w-100"></a>
            </div>
            <div class="carousel-item">
                <a href="#" target="_blank" class="d-block w-100"><img src="{% static 'images/main-slider-1.png' %}"
                                                                       class="d-block w-100"></a>
            </div>
            <div class="carousel-item">
                <a href="#" target="_blank" class="d-block w-100"><img src="{% static 'images/main-slider-2.png' %}"
                                                                       class="d-block w-100"></a>
            </div>
        </div>
        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#main-slider" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#main-slider" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</section><!-- end main slider -->

{% block content %}

{% endblock %}



{% render_partial 'core.views.site_footer_component' %}
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/jquery.simple.timer.js"></script>
<script src="/static/js/script.js"></script>
</body>
</html>