{% load thumbnail %}
{% load render_partial %}
<header class="w-100 d-none d-lg-block bg-white"><!-- start header -->
    <div class="container">
        <div class="row py-2">
            <div class="col-lg-2"><a href="{% url 'core:index' %}"><img src="{{ site_setting.site_logo.url }}"
                                                                        alt="Nikkala"></a>

            </div><!-- logo -->
            <div class="col-lg-6 d-flex align-items-center justify-content-center"><!-- start search box -->
                <div class="input-group search-box">
                    <input type="search" class="form-control form-control-lg" placeholder="جستجو در نیک کالا">
                    <button type="submit" class="btn btn-danger"><img src="/static/images/search.png"></button>
                </div>
            </div><!-- end search box -->
            <div class="col-lg-3 d-flex align-items-center justify-content-end px-0"><!-- start signup & login -->
                <div class="dropdown">
                    {% if request.user.is_authenticated %}
                        {% comment %}dropdown-menu dropdown-menu-custom{% endcomment %}
                        <ul class=""><!-- start dropdown box -->
                            <li class="d-flex">

                                {% if user.image %}
                                    {% thumbnail user.image "640x640" quality=99 as im %}
                                        <img
                                                src="{{ im.url }}"
                                                width="{{ im.width }}"
                                                class="avatar"
                                                height="{{ im.height }}"/>
                                    {% endthumbnail %}
                                {% else %}
                                    <img src="/static/images/avatar.jpg" class="avatar">
                                {% endif %}
                                <div class="ms-2">
                                    <a href="{% url 'user_panel' %}"
                                       class="font-14 text-dark">{{ user.get_full_name }}</a>
                                    <a href="{% url 'user_panel' %}" class="font-12 d-block text-info mt-2">مشاهده حساب
                                        کاربری <i
                                                class="fa fa-chevron-left align-middle mt-1"></i></a>
                                </div>
                            </li>
                            <li>
                                <a href="{% url 'user_panel' %}" class="login-link"><i
                                        class="fa fa-shopping-basket text-muted font-14 me-1"></i> سفارش های من</a>
                                <a href="{% url 'userauths:log-out' %}" class="login-link"><i
                                        class="fas fa-sign-out-alt text-muted font-14 me-1"></i>خروج
                                    از حساب کاربری</a>
                            </li>
                        </ul><!-- end dropdown box -->
                    {% else %}
                        {% comment %}data-bs-toggle="dropdown"{% endcomment %}
                        <a href="{% url 'userauths:sign-up' %}" class="header-login-btn me-4"><i
                                class="fa fa-user-lock"></i>ورود
                            / ثبت نام</a>
                    {% endif %}


                </div>
            </div><!-- end signup & login -->
            <div class="col-lg-1 d-flex align-items-center justify-content-center px-0"><!-- start shopping cart -->
                <a href="#shopping-cart" class="position-relative" data-bs-toggle="offcanvas">
                    <img src="/static/images/cart.png">
                    <div class="count">2</div>
                </a>
                <div class="offcanvas offcanvas-end" tabindex="-1" data-bs-scroll="true" id="shopping-cart">
                    <!-- start shopping cart offcanvas -->

                    <div class="offcanvas-header"><!-- start offcanvas header -->
                        <p class="offcanvas-title font-12">سبد خرید (4 کالا)</p>
                        <button type="button" class="text-reset btn-close" data-bs-dismiss="offcanvas"></button>
                    </div><!-- end offcanvas header -->

                    <div class="offcanvas-body"><!-- start cart body -->

                        <div class="row"><!-- start cart item -->
                            <div class="col-4"><img src="/static/images/mobile1.jpg" class="img-fluid img-thumbnail">
                            </div>
                            <div class="col-8 d-flex align-items-center">
                                <a href="product.html" class="cart-product-title">گوشی موبایل سامسونگ مدل Galaxy A21S
                                    SM-A217F/DS</a>
                            </div>
                        </div>
                        <div class="row my-3 border-bottom">
                            <div class="col-6 d-flex">
                                <span class="number">1 عدد</span>
                                <span class="color" style="background-color:#d4d4d4;"></span>
                                <i class="fa fa-trash cart-delete-btn"></i>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <p class="cart-product-price">4,169,000 تومان</p>
                            </div>
                        </div><!-- end cart item -->

                        <div class="row"><!-- start cart item -->
                            <div class="col-4"><img src="/static/images/mobile2.jpg" class="img-fluid img-thumbnail">
                            </div>
                            <div class="col-8 d-flex align-items-center">
                                <a href="product.html" class="cart-product-title">گوشی موبایل سامسونگ مدل Galaxy A21S
                                    SM-A217F/DS</a>
                            </div>
                        </div>
                        <div class="row my-3 border-bottom">
                            <div class="col-6 d-flex">
                                <span class="number">1 عدد</span>
                                <span class="color" style="background-color:#d4d4d4;"></span>
                                <i class="fa fa-trash cart-delete-btn"></i>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <p class="cart-product-price">4,169,000 تومان</p>
                            </div>
                        </div><!-- end cart item -->

                        <div class="row"><!-- start cart item -->
                            <div class="col-4"><img src="/static/images/mobile3.jpg" class="img-fluid img-thumbnail">
                            </div>
                            <div class="col-8 d-flex align-items-center">
                                <a href="product.html" class="cart-product-title">گوشی موبایل سامسونگ مدل Galaxy A21S
                                    SM-A217F/DS</a>
                            </div>
                        </div>
                        <div class="row my-3 border-bottom">
                            <div class="col-6 d-flex">
                                <span class="number">1 عدد</span>
                                <span class="color" style="background-color:#d4d4d4;"></span>
                                <i class="fa fa-trash cart-delete-btn"></i>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <p class="cart-product-price">4,169,000 تومان</p>
                            </div>
                        </div><!-- end cart item -->

                    </div><!-- end cart body -->

                    <div class="row cart-footer"><!-- start cart footer-->
                        <div class="col-5">
                            <p>مبلغ قابل پرداخت:</p>
                            <p>12,480,000 تومان</p>
                        </div>
                        <div class="col-7">
                            <a href="login.html" class="btn btn-info font-13 btn-lg ms-4">ورود و ثبت سفارش</a>
                        </div>
                    </div><!-- end cart footer-->

                </div><!-- end shopping cart offcanvas -->
            </div><!-- end shopping cart -->
        </div>
    </div>
</header><!-- end header -->

<header class="d-lg-none bg-white w-100"><!-- start responsive header-->
    <div class="container">
        <div class="row py-2">

            <div class="col-7">
                <a href="#mobile-menu" data-bs-toggle="offcanvas"><i class="fa fa-bars mobile-menu-icon"></i></a>
                <!-- mobile menu icon -->
                <div class="offcanvas offcanvas-start" tabindex="-1" data-bs-scroll="true" id="mobile-menu">
                    <!-- start mobile menu-->

                    <div class="offcanvas-header"><!-- start menu header -->
                        <img src="/static/images/logo.png">
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
                    </div><!-- end menu header -->

                    <div class="offcanvas-body px-0">

                        <div class="input-group search-box px-3"><!-- start search box -->
                            <input type="search" class="form-control form-control-lg" placeholder="جستجو در نیک کالا">
                            <button type="submit" class="btn btn-danger"><img src="/static/images/search.png"></button>
                        </div><!-- end search box -->

                        <ul class="mobile-menu-level-1"><!-- start mobile menu level 1 -->
                            {% render_partial 'product.views.product_categories_component' %}
                            <li><a href="#">تخفیف‌ها و پیشنهادها</a></li>
                            <li class="has-mobile-submenu"><a href="#">صفحات</a>

                                <ul class="mobile-menu-level-2"><!-- start mobile menu level 2 -->
                                    <li><a href="signup.html">ثبت نام / ورود</a></li>
                                    <li class="has-mobile-submenu-2"><a href="#"> محصولات </a>

                                        <ul class="mobile-menu-level-3"><!-- start mobile menu level 3 -->
                                            <li><a href="product.html">محصول موجود</a></li>
                                            <li><a href="product-unavailable.html">محصول ناموجود</a></li>
                                        </ul><!-- start mobile menu level 3 -->

                                    </li>
                                    <li><a href="{% url 'user_panel' %}">پروفایل کاربر</a></li>
                                    <li><a href="blog.html">وبلاگ</a></li>
                                </ul><!-- end mobile menu level 2 -->

                            </li>
                            <li><a href="{% url 'contact_us:contact-us' %}">تماس با ما</a></li>
                            <li><a href="about-us.html">درباره ما</a></li>
                        </ul><!-- end mobiile menu level 1 -->

                    </div>
                </div><!-- end mobile menu-->
                <img src="/static/images/logo.png" class="img-fluid"><!-- logo -->
            </div>

            {% comment %}<div class="col-4 d-flex align-items-center justify-content-end"><!-- start signup & login dropdown -->
                <div class="dropdown">
                    <a href="#" data-bs-toggle="dropdown"><i class="fa fa-user-lock signup-login-icon"></i></a>
                    <ul class="dropdown-menu dropdown-menu-custom"><!-- start dropdown box -->
                        <li class="d-flex">
                            <img src="/static/images/avatar.jpg" class="avatar">
                            <div class="ms-2">
                                <a href="{% url 'user_panel' %}" class="font-14 text-dark">امیرحسین رضایی</a>
                                <a href="{% url 'user_panel' %}" class="font-12 d-block text-info mt-2">مشاهده حساب
                                    کاربری <i
                                            class="fa fa-chevron-left align-middle mt-1"></i></a>
                            </div>
                        </li>
                        <li>
                            <a href="{% url 'user_panel' %}" class="login-link"><i
                                    class="fa fa-shopping-basket text-muted font-14 me-1"></i> سفارش های من</a>
                            <a href="#" class="login-link"><i class="fas fa-sign-out-alt text-muted font-14 me-1"></i>خروج
                                از حساب کاربری</a>
                        </li>
                    </ul><!-- end dropdown box -->
                </div><!-- end signup & login dropdown -->
            </div>{% endcomment %}

            <div class="col-1 d-flex align-items-center justify-content-end"><!-- start shopping cart responsive-->
                <a href="#shopping-cart-responsive" class="position-relative" data-bs-toggle="offcanvas">
                    <img src="/static/images/cart.png">
                    <div class="count">2</div>
                </a>
                <div class="offcanvas offcanvas-end" tabindex="-1" data-bs-scroll="true" id="shopping-cart-responsive">
                    <!-- start shopping cart offcanvas -->

                    <div class="offcanvas-header"><!-- start offcanvas header -->
                        <p class="offcanvas-title font-12">سبد خرید (4 کالا)</p>
                        <button type="button" class="text-reset btn-close" data-bs-dismiss="offcanvas"></button>
                    </div><!-- end offcanvas header -->

                    <div class="offcanvas-body"><!-- start cart body -->

                        <div class="row"><!-- start cart item -->
                            <div class="col-4"><img src="/static/images/mobile1.jpg" class="img-fluid img-thumbnail">
                            </div>
                            <div class="col-8 d-flex align-items-center">
                                <a href="product.html" class="cart-product-title">گوشی موبایل سامسونگ مدل Galaxy A21S
                                    SM-A217F/DS</a>
                            </div>
                        </div>
                        <div class="row my-3 border-bottom">
                            <div class="col-6 d-flex">
                                <span class="number">1 عدد</span>
                                <span class="color" style="background-color:#d4d4d4;"></span>
                                <i class="fa fa-trash cart-delete-btn"></i>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <p class="cart-product-price">4,169,000 تومان</p>
                            </div>
                        </div><!-- end cart item -->

                        <div class="row"><!-- start cart item -->
                            <div class="col-4"><img src="/static/images/mobile2.jpg" class="img-fluid img-thumbnail">
                            </div>
                            <div class="col-8 d-flex align-items-center">
                                <a href="product.html" class="cart-product-title">گوشی موبایل سامسونگ مدل Galaxy A21S
                                    SM-A217F/DS</a>
                            </div>
                        </div>
                        <div class="row my-3 border-bottom">
                            <div class="col-6 d-flex">
                                <span class="number">1 عدد</span>
                                <span class="color" style="background-color:#d4d4d4;"></span>
                                <i class="fa fa-trash cart-delete-btn"></i>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <p class="cart-product-price">4,169,000 تومان</p>
                            </div>
                        </div><!-- end cart item -->

                        <div class="row"><!-- start cart item -->
                            <div class="col-4"><img src="/static/images/mobile3.jpg" class="img-fluid img-thumbnail">
                            </div>
                            <div class="col-8 d-flex align-items-center">
                                <a href="product.html" class="cart-product-title">گوشی موبایل سامسونگ مدل Galaxy A21S
                                    SM-A217F/DS</a>
                            </div>
                        </div>
                        <div class="row my-3 border-bottom">
                            <div class="col-6 d-flex">
                                <span class="number">1 عدد</span>
                                <span class="color" style="background-color:#d4d4d4;"></span>
                                <i class="fa fa-trash cart-delete-btn"></i>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <p class="cart-product-price">4,169,000 تومان</p>
                            </div>
                        </div><!-- end cart item -->

                    </div><!-- end cart body -->

                    <div class="row cart-footer"><!-- start cart footer-->
                        <div class="col-5">
                            <p>مبلغ قابل پرداخت:</p>
                            <p>12,480,000 تومان</p>
                        </div>
                        <div class="col-7">
                            <a href="login.html" class="btn btn-info font-13 btn-lg ms-4">ورود و ثبت سفارش</a>
                        </div>
                    </div><!-- end cart footer-->

                </div><!-- end shopping cart offcanvas -->
            </div><!-- end shopping cart responsive-->

        </div>
    </div>
</header><!-- end responsive header-->

<nav class="d-none d-lg-block navigation"><!-- start main menu -->
    <div class="container">
        <ul class="main-menu">
            {% render_partial 'product.views.product_categories_component' %}
            {% comment %}<li class="has-mega-menu"><a href="#"> دسته بندی محصولات <i class="fa fa-angle-down"></i></a>
                <ul class="row mega-menu"><!-- start mega menu-->
                    <li class="col-3 mega-menu-box">
                        <ul>
                            <li class="menu-title"><i class="fa fa-angle-left"></i>کالای دیجیتال</li>
                            <li><a href="search.html">گوشی موبایل</a></li>
                            <li><a href="search.html">لوازم جانبی گوشی</a></li>
                            <li><a href="search.html">لپ تاپ</a></li>
                            <li><a href="search.html">لوازم جانبی لپ تاپ</a></li>
                            <li><a href="search.html">تبلت</a></li>
                            <li><a href="search.html">مچ بند و ساعت هوشمند</a></li>
                            <li><a href="search.html">مودم و تجهیزات شبکه</a></li>
                        </ul>
                    </li>
                    <li class="col-3 mega-menu-box">
                        <ul>
                            <li class="menu-title"><i class="fa fa-angle-left"></i>زیبایی و سلامت</li>
                            <li><a href="search.html">لوازم آرایشی</a></li>
                            <li><a href="search.html">لوازم بهداشتی</a></li>
                            <li><a href="search.html">عطر،ادکلن،اسپری و ست</a></li>
                            <li><a href="search.html">ابزار سلامت و طبی</a></li>
                            <li><a href="search.html">لوازم شخصی برقی</a></li>
                        </ul>
                        <ul>
                            <li class="menu-title"><i class="fa fa-angle-left"></i>مد و پوشاک</li>
                            <li><a href="search.html">لباس زنانه</a></li>
                            <li><a href="search.html">لباس مردانه</a></li>
                        </ul>
                    </li>
                    <li class="col-3 mega-menu-box">
                        <ul>
                            <li class="menu-title"><i class="fa fa-angle-left"></i>خانه و آشپزخانه</li>
                            <li><a href="search.html">صوتی و تصویری</a></li>
                            <li><a href="search.html">لوازم برقی خانگی</a></li>
                            <li><a href="search.html">فرش ماشینی، دستبافت، تابلو</a></li>
                        </ul>
                        <ul>
                            <li class="menu-title"><i class="fa fa-angle-left"></i>اسباب بازی، کودک و نوزاد</li>
                            <li><a href="search.html">پوشاک کودک و نوزاد</a></li>
                            <li><a href="search.html">بازی و سرگرمی کودک</a></li>
                            <li><a href="search.html">سلامت، ایمنی و مراقبت</a></li>
                        </ul>
                    </li>
                    <li class="col-3 mega-menu-box">
                        <ul>
                            <li class="menu-title"><i class="fa fa-angle-left"></i>کتاب و لوازم تحریر</li>
                            <li><a href="search.html">کتاب و مجله</a></li>
                            <li><a href="search.html">کتاب صوتی</a></li>
                            <li><a href="search.html">لوازم تحریر</a></li>
                        </ul>
                        <a href="#" class="d-block"><img src="/static/images/menu-pic.jpg"
                                                         class="img-fluid rounded mt-3"></a>
                    </li>
                </ul><!-- end mega menu-->
            </li>{% endcomment %}
            <li><a href="search.html">تخفیف‌ها و پیشنهادها</a></li>
            <li class="has-sub-menu"><a href="#">صفحات <i class="fa fa-angle-down"></i></a>
                <ul class="sub-menu"><!-- start sub menu-->
                    <li><a href="signup.html">ثبت نام / ورود</a></li>
                    <li class="has-sub-menu-level-2"><a href="#">محصولات</a><i class="fa fa-angle-down"></i>
                        <ul class="sub-menu-level-2"><!-- start sub menu level 2 -->
                            <li><a href="product.html">محصول موجود</a></li>
                            <li><a href="product-unavailable.html">محصول ناموجود</a></li>
                            <li><a href="404.html">خطای 404</a></li>
                        </ul><!-- end sub menu level 2 -->
                    </li>
                    <li><a href="{% url 'user_panel' %}">پروفایل کاربر</a></li>
                    <li><a href="{% url 'index_blog' %}">وبلاگ</a></li>
                    <li><a href="cart.html">سبد خرید</a></li>
                </ul><!-- end sub menu-->
            </li>
            <li><a href="{% url 'contact_us:contact-us' %}">تماس با ما</a></li>
            <li><a href="{% url 'core:about-us' %}">درباره ما</a></li>
        </ul>
    </div>
</nav><!-- end main menu -->
