{% comment %}<h2>دسته بندی محصولات</h2>
<div class="panel-group category-products" id="accordian"><!--category-productsr-->
    {% for category in categories %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a
                        href="{% url 'product-categories-list' cat=category.url_title %}">{{ category.title }}</a></h4>
            </div>
        </div>
    {% endfor %}
</div><!--/category-productsr-->{% endcomment %}

{% comment %}

<li class="has-mobile-submenu"><a href="#">دسته بندی محصولات</a>

    <ul class="mobile-menu-level-2"><!-- start mobile menu level 2 -->
        {% for category in categories %}
            <li class="has-mobile-submenu-2"><a href="">{{ category.title }}</a>

            </li>
        {% endfor %}

        <li class="has-mobile-submenu-2"><a href="#">کالای دیجیتال</a>

            <ul class="mobile-menu-level-3"><!-- start mobile menu level 3 -->
                <li><a href="search.html">گوشی موبایل</a></li>
                <li><a href="search.html">لوازم جانبی گوشی</a></li>
                <li><a href="search.html">تبلت</a></li>
                <li><a href="search.html">دوربین عکاسی</a></li>
            </ul><!-- start mobile menu level 3 -->

        </li>
        <li><a href="search.html">زیبایی و سلامت</a></li>
        <li><a href="search.html">مد و پوشاک</a></li>
        <li><a href="search.html">خانه و آشپزخانه</a></li>
        <li><a href="search.html">کتاب و لوازم تحریر</a></li>
    </ul><!-- end mobile menu level 2 -->

</li>{% endcomment %}


<li class="has-mega-menu"><a href="#"> دسته بندی محصولات <i class="fa fa-angle-down"></i></a>
    <ul class="row mega-menu"><!-- start mega menu-->
        <li class="col-3 mega-menu-box">
            <ul>
                {% for category in categories %}
                    <li class="menu-title"><i class="fa fa-angle-left"></i><a
                            href="{% url 'core:index-categories' cat=category.url_title %}">{{ category.title }}</a>
                    </li>
                {% endfor %}


                <li><a href="search.html">گوشی موبایل</a></li>
                <li><a href="search.html">لوازم جانبی گوشی</a></li>
                <li><a href="search.html">لپ تاپ</a></li>
                <li><a href="search.html">لوازم جانبی لپ تاپ</a></li>
                <li><a href="search.html">تبلت</a></li>
                <li><a href="search.html">مچ بند و ساعت هوشمند</a></li>
                <li><a href="search.html">مودم و تجهیزات شبکه</a></li>
            </ul>
        </li>
        {% comment %}        <li class="col-3 mega-menu-box">
            <ul>
                <li class="menu-title"><i class="fa fa-angle-left"></i>زیبایی و سلامت</li>
                <li><a href="search.html">لوازم آرایشی</a></li>
                <li><a href="search.html">لوازم بهداشتی</a></li>
                <li><a href="search.html">عطر،ادکلن،اسپری و ست</a></li>
                <li><a href="search.html">ابزار سلامت و طبی</a></li>
                <li><a href="search.html">لوازم شخصی برقی</a></li>
            </ul>
            <ul>
                <li class="menu-title"><i class="fa fa-angle-left"></i>مد و پوشاک</li>
                <li><a href="search.html">لباس زنانه</a></li>
                <li><a href="search.html">لباس مردانه</a></li>
            </ul>
        </li>
        <li class="col-3 mega-menu-box">
            <ul>
                <li class="menu-title"><i class="fa fa-angle-left"></i>خانه و آشپزخانه</li>
                <li><a href="search.html">صوتی و تصویری</a></li>
                <li><a href="search.html">لوازم برقی خانگی</a></li>
                <li><a href="search.html">فرش ماشینی، دستبافت، تابلو</a></li>
            </ul>
            <ul>
                <li class="menu-title"><i class="fa fa-angle-left"></i>اسباب بازی، کودک و نوزاد</li>
                <li><a href="search.html">پوشاک کودک و نوزاد</a></li>
                <li><a href="search.html">بازی و سرگرمی کودک</a></li>
                <li><a href="search.html">سلامت، ایمنی و مراقبت</a></li>
            </ul>
        </li>
        <li class="col-3 mega-menu-box">
            <ul>
                <li class="menu-title"><i class="fa fa-angle-left"></i>کتاب و لوازم تحریر</li>
                <li><a href="search.html">کتاب و مجله</a></li>
                <li><a href="search.html">کتاب صوتی</a></li>
                <li><a href="search.html">لوازم تحریر</a></li>
            </ul>
            <a href="#" class="d-block"><img src="/static/images/menu-pic.jpg"
                                             class="img-fluid rounded mt-3"></a>{% endcomment %}
        </li>
    </ul><!-- end mega menu-->
</li>